:root {
  --primary: #d48637;
  --bg: rgb(226, 222, 222);
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: rgb(255, 255, 255);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(5, 83, 5, 0.8);
  /* border-bottom: 1px solid #000; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(5px);
}
.navbar .navbar-nav {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 30rem;
  height: 100vh;
  background-color: rgb(9, 90, 29, 0.8);
  transition: 0.3s;
}
.navbar .navbar-nav a {
  color: #fff;
  margin: 1rem;
  display: flex;
  left: -100%;
  justify-content: center;
  font-size: 1rem;
  margin-top: 2rem;
}
.navbar .navbar-nav.aktif {
  left: 0;
}
.navbar .navbar-logo {
  font-size: 2 rem;
  font-weight: 700;
  color: rgb(221, 217, 217);
}
.navbar .navbar-logo span {
  color: rgb(25, 255, 17);
  font-style: italic;
}
.navbar .menu {
  margin: 0 1rem;
  color: #fff;
}
/* Navbar end */

/* Hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../Assets/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: center;
}
.hero .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}
.avatar .avatar-icon {
  width: 15rem;
  border-radius: 50%;
  align-items: center;
}
.hero .content p {
  text-align: center;
  font-size: 1rem;
}
/* Hero section end */

/* About section */
.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
  text-align: center;
}
.about .judul-about {
  color: rgba(5, 83, 5, 0.8);
}
.about .about-primary p {
  color: black;
  margin: 2rem 5rem;
}
/* About section end */

/* Portofolio section */
.portofolio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
  text-align: center;
  color: black;
  margin-bottom: 4rem;
}
.portofolio .judul-about {
  color: rgba(5, 83, 5, 0.8);
}
/* Menu card  */
.portofolio .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
}
.portofolio .row .menu-card-img {
  width: 40rem;
  margin: 2rem;
  transition: 0.5s;
}
.portofolio .row .menu-card {
  text-align: center;
  margin: 1rem;
}
.portofolio .row .menu-card .menu-card-title {
  margin-top: 1rem;
}
.portofolio .row .menu-card-img:hover {
  filter: brightness(50%);
}
/* Menu card  end */
/* Portofolio section end */

/* Certificate section */
.certificate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
  text-align: center;
  color: black;
  margin-bottom: 4rem;
}
.certificate .judul-about {
  color: rgba(5, 83, 5, 0.8);
}
/* Menu card  */
.certificate .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
}
.certificate .row .menu-card-img {
  width: 30rem;
  margin: 2rem;
  transition: 0.5s;
}
.certificate .row .menu-card {
  text-align: center;
  margin: 1rem;
}
.certificate .row .menu-card .menu-card-title {
  margin-top: 1rem;
}
.certificate .row .menu-card-img:hover {
  filter: brightness(50%);
}
/* Menu card  end */
/* Certificate section end */

/* Footer section */
footer {
  background-color: rgba(5, 83, 5, 0.8);
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 0;
}
footer .social-media a {
  color: #fff;
  margin: 1rem;
}
footer .link a {
  color: #fff;
  margin: 0.4rem;
}
footer .link a:hover {
  color: var(--bg);
}
footer .credit {
  font-size: 1rem;
  margin: 0.8 rem;
}
footer .credit a {
  font-weight: 100;
  color: #fff;
}
footer .credit a:hover {
  color: var(--bg);
}
/* Footer section end */
